<% include header %>
    <div class="container p-2 mt-3 d-flex justify-content-center">
        <h1>CRUD de Clientes</h1>
    </div>
    <%if(error){%>
        <div class="container d-flex justify-content-center alert alert-danger" role="alert">
            <span>Erros:&nbsp;</span>
            <%for(let i=0; i<error.length;i++) {%>
                <span><%=error[i].msg%>&nbsp;</span>
            <%}%>
        </div>
    <%}else{}%>
    <div class="container">
        <div class="row bg-primary border-bottom rounded p-1 text-white">
            <div class="col d-flex justify-content-center">Nome</div>
            <div class="col d-flex justify-content-center">Email</div>
            <div class="col d-flex justify-content-center">Telefone</div>
            <div class="col d-flex justify-content-center">Ações</div>
        </div>
        <%for(let i=0; i<clients.length;i++) {%>
            <div class="row active border-bottom rounded p-1">
                <div class="col d-flex justify-content-center align-items-center">
                    <span><%=clients[i].nome%></span>
                </div>
                <div class="col d-flex justify-content-center align-items-center">
                    <span><%=clients[i].email%></span>
                </div>
                <div class="col d-flex justify-content-center align-items-center">
                    <span><%=clients[i].telefone%></span>
                </div>
                <div class="col d-flex justify-content-center align-items-center">
                    <button type="button" class="btn btn-warning m-1" id="btn-edit-client" onclick="fillClientForm(event, <%=clients[i].id%>, '<%=clients[i].nome%>', '<%=clients[i].email%>', <%=clients[i].telefone%>)">Editar</button>
                    <button type="button" class="btn btn-danger m-1" id="btn-delete-client" onclick="deleteClient(event, <%=clients[i].id%>)">Deletar</button>
                </div>
            </div>
        <%}%>
    </div>
    <div class="container mt-5">
        <div class="row bg-primary border-bottom rounded p-1 text-white">
            <div class="col d-flex justify-content-center">Cadastro/Atualização</div>
        </div>
        <div class="form row bg-light p-3 rounded">
            <form action="/clients" method="post">
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input class="form-control" id="nome" name="nome" type="text" placeholder="Digite o nome do cliente" />
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control" id="email" name="email" type="text" placeholder="Digite o email do cliente" />
                </div>
                <div class="form-group">
                    <label for="telefone">Telefone</label>
                    <input class="form-control" id="telefone" name="telefone" type="text" placeholder="Digite o telefone do cliente" />
                </div>
                <div class="d-flex flex-row-reverse">
                    <div class="m-1"><button onclick="editClient(event)" id="btn-edit-send" class="btn btn-outline-primary">Editar</button></div>
                    <div class="m-1"><button type="submit" id="btn-save-send" class="btn btn-outline-primary">Enviar</button></div>
                    <div class="m-1"><button onclick="clearForm(event)" class="btn btn-outline-secondary">Limpar</button></div>
                </div>
            </form>
        </div>
    </div>
    <script>
        let clientStoredId = null;

        function deleteClient(event, id) {
            event.preventDefault();
            let xhr = new XMLHttpRequest();
            xhr.open("DELETE", '/clients', true);
            xhr.setRequestHeader("Content-type", "application/json");
            xhr.setRequestHeader("Accept", "application/json");
            xhr.onreadystatechange = () => {
                if (xhr.readyState == 4) {
                    if (xhr.status == 200) {
                        alert('Cliente deletado com sucesso!');
                        location.reload();
                    } else {
                        alert('Não foi possível deletar esse cliente! Tente novamente mais tarde.');
                    }
                }
            };
            xhr.send(JSON.stringify({id}));
        }

        function fillClientForm(event, clientId, clientName, clientEmail, clientPhone) {
            let $ = document.querySelector.bind(document);
            let inputName = $('#nome');
            let inputEmail = $('#email');
            let inputPhone = $('#telefone');
            let btnEditSend = $('#btn-edit-send');
            let btnSaveSend = $('#btn-save-send');

            inputName.value = clientName;
            inputEmail.value = clientEmail;
            inputPhone.value = clientPhone;
            clientStoredId = clientId;

            btnEditSend.style.display = 'block';
            btnSaveSend.style.display = 'none';
        }

        function editClient(event) {
            event.preventDefault();
            let $ = document.querySelector.bind(document);
            let inputName = $('#nome');
            let inputEmail = $('#email');
            let inputPhone = $('#telefone');
            let client = {
                id: clientStoredId,
                nome: inputName.value,
                email: inputEmail.value,
                telefone: inputPhone.value
            };
            let xhr = new XMLHttpRequest();
            xhr.open("PUT", '/clients', true);
            xhr.setRequestHeader("Content-type", "application/json");
            xhr.setRequestHeader("Accept", "application/json");
            xhr.onreadystatechange = () => {
                if (xhr.readyState == 4) {
                    if (xhr.status == 200) {
                        alert('Cliente editado com sucesso!');
                        location.reload();
                    } else {
                        if(xhr.responseText) {
                            const errors = JSON.parse(xhr.responseText);
                            errMsg = '';
                            errors.forEach(err => {
                                errMsg = errMsg + ' ' + err.msg;
                            });
                            if(errMsg) alert(errMsg);
                            else alert('Ocorreu um erro ao editar esse cliente! Tente novamente mais tarde.');
                        } else alert('Ocorreu um erro ao editar esse cliente! Tente novamente mais tarde.');
                    }
                }
            };
            xhr.send(JSON.stringify(client));
        }

        function clearForm(event) {
            event.preventDefault();
            let $ = document.querySelector.bind(document);
            let inputName = $('#nome');
            let inputEmail = $('#email');
            let inputPhone = $('#telefone');

            let btnEditSend = $('#btn-edit-send');
            let btnSaveSend = $('#btn-save-send');

            inputName.value = '';
            inputEmail.value = '';
            inputPhone.value = '';

            btnEditSend.style.display = 'none';
            btnSaveSend.style.display = 'block';
        }
    </script>
<% include footer %>